@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/pinyon-script";

/* custom styles */
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

/* custom classes */
.eventannouncement {
  color: #2b396d;
  font-family: "Computer Modern", sans-serif;
  font: bold;
  font-size: 20px;
}

/* PROBLEM below font first renders as something ugly before changing */
.guest {
  color: #2b396d;
  font-family: "Pinyon Script";
  font-size: 50px;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bg-flowers {
  background-image: url('/page-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.font-pinyon-script {
  font-family: "Pinyon Script";
}

/* CHECK MARK ANIMATION */

.animated-checkmark-one {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
  animation: line-draw .6s ease-out forwards;
}

.animated-checkmark-two {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: line-draw .5s .3s forwards;
  animation-timing-function: cubic-bezier(.81,.02,.87,.61)
}

@keyframes line-draw {
  to {
    stroke-dashoffset: 0;
  }
}