@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/pinyon-script";

/* custom styles */
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

/* custom classes */
.rsvp {
  color: #2b396d;
  font-family: "Computer Modern", sans-serif;
  font: bold;
  font-size: 20px;
}

.guest {
  color: #2b396d;
  font-family: "Pinyon Script";
  font-size: 40px;
}

